NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
NEXT_PUBLIC_WEB3AUTH_CLIENT_ID=
NEXT_PUBLIC_WEB3AUTH_NETWORK=sapphire_devnet

# Polygon Amoy テストネット コントラクトアドレス
NEXT_PUBLIC_ACCESS_PASS_NFT_ADDRESS=0x1cC076ed23D6c2e5dD37aAe28b9a21aA9d46eC3a
NEXT_PUBLIC_DEPOSIT_VAULT_ADDRESS=0xb2a5A4354F9b53089893b2aF9840a29cEeEe84fD
NEXT_PUBLIC_COMPUTE_MARKET_ADDRESS=0x159E85E8f296B9a3A95A9FFaE59Ae7aF4358Ee77
NEXT_PUBLIC_JPYC_TOKEN_ADDRESS=0x2fA62C3E53b67A9678F4Aac14E2843c1dF7b8AfD

# チェーン設定
NEXT_PUBLIC_CHAIN_ID=80002
NEXT_PUBLIC_CHAIN_NAME=Polygon Amoy
NEXT_PUBLIC_RPC_URL=https://rpc-amoy.polygon.technology
NEXT_PUBLIC_CHAIN_EXPLORER_URL=https://amoy.polygonscan.com
